system/system/priv-app/OneDrive_Samsung_v3/OneDrive_Samsung_v3.apk
system/system/priv-app/SecSettings/SecSettings.apk
system/system/priv-app/DualOutFocusViewer_S/DualOutFocusViewer_S.apk
system/system/priv-app/SumeNNService/SumeNNService.apk
system/system/priv-app/AREmojiEditor/AREmojiEditor.apk
system/system/app/HoneyBoard/HoneyBoard.apk
system/system/app/OCRDataProvider/OCRDataProvider.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Messages/Messages.apk
product/app/Gmail2/Gmail2.apk
product/app/WebViewGoogle/WebViewGoogle.apk
